@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

$col-1: rgb(187, 133, 193);
$col-2: rgb(213, 238, 209);
$col-3: rgb(245, 243, 206);
$col-4: rgb(115, 130, 193);

$col-links: $col-4;

body {
  background-color: #fff;
  color: #444;
  font: 17px/1.6 "Noto Sans","Helvetica Neue",Arial,Helvetica,sans-serif;
}

div.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
}

%header-and-footer {
  font-size: 82.5%;
  color: grey;
  a { color: inherit }
}

header[role="main"] {
  @extend %header-and-footer;
  nav ul {
    list-style: none;
    padding-left: 0;

    li {
      display: inline-block;
      margin-right: 1rem;

      a {
        display: inline-block;
        background-color: #e8e8e8;
        color: black;
        text-decoration: none;
        padding: 3px 10px;

        border-radius: 7px 0;

        &:hover {
          background-color: lighten($col-1, 20%);
        }
      }
    }
  }
}

footer[role="main"] {
  @extend %header-and-footer;
  margin-top: 80px;
  border-top: 3px solid lightgrey;
  padding-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 3rem 0 1rem 0;
}

h1 {
  font-family: "Arial Black";
}

h4 {
  color: $col-1;
  padding-left: 20px;
  border-left: 20px solid lighten($col-1, 20%);
}

a {
  color: $col-links;
}

.post-meta {
  color: grey;
}

ul.post-list {
  list-style: none;
  padding-left: 0;
}


/* embedded code */
code {
  background-color: #efefef;
  font: 85% "Office Code Pro",Menlo,Consolas,Monaco,monotype;
  padding: 2px 5px;
  border-radius: 2px;
}

pre>code {
  padding: 15px !important;
}

/* tables */
table {
}

td {
  vertical-align: top;
}
td+td {
  padding-left: 10px;
}

%collapse-margins {
  >*:first-child { margin-top: 0 }
  >*:last-child { margin-bottom: 0 }
}

%box {
  @extend %collapse-margins;
  background-color: #efefef;
  border-radius: 2px;
  padding: 0.8em 1em;
}

.navigation {
  @extend %box;
  background-color: $col-3;
  margin-top: 3rem;
}

.intro {
  @extend %box;
  margin-bottom: 2em;
  background-color: $col-2;
}
