@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

body {
  background-color: #fff;
  color: #444;
  font: 17px/1.6 "Noto Sans","Helvetica Neue",Arial,Helvetica,sans-serif;
}

div.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
}

footer[role="main"] {
  margin-top: 80px;
  border-top: 3px solid lightgrey;
  padding-top: 20px;
  font-size: 82.5%;
  color: grey;
  a { color: inherit }
}

h1, h2, h3, h4, h5, h6 {
  margin: 3rem 0 1rem 0;
}

h1 {
  font-family: "Arial Black";
  color: #666;
}

a {
  color: rgb(74, 109, 242);
}

.post-meta {
  color: grey;
}

ul.post-list {
  list-style: none;
  padding-left: 0;
}


/* embedded code */
code {
  background-color: #efefef;
  font: 85% "Office Code Pro",Menlo,Consolas,Monaco,monotype;
  padding: 2px 4px;
  border-radius: 2px;
}

pre>code {
  padding: 15px !important;
}

/* tables */
table {
}

td {
  vertical-align: top;
}
td+td {
  padding-left: 10px;
}

%collapse-margins {
  >*:first-child { margin-top: 0 }
  >*:last-child { margin-bottom: 0 }
}

%box {
  @extend %collapse-margins;
  background-color: #efefef;
  border-radius: 2px;
  padding: 0.8em 1em;
}

.navigation {
  @extend %box;
  background-color: oldlace;
  font-size: 82.5%;
  margin-top: 3rem;
}

.intro {
  @extend %box;
  margin-bottom: 2em;
  background-color: rgb(213, 238, 209);
}
